@use "../../styles/partials/variables" as *;
.header {
  height: 5rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  align-items: center;
  position: absolute;
  width: 100%;
  color: $bluegreen;

  &__list {
    display: flex;
    list-style-type: none;
  }
}
